fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.20
aiosqlite==0.19.0
pydantic==2.3.0
pydantic-settings==2.0.3
python-dotenv==1.0.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
httpx==0.24.1
tensorflow==2.13.0
sentence-transformers==2.2.2
python-multipart==0.0.6
numpy>=1.23,<1.25  # Đảm bảo tương thích với TensorFlow
transformers>=4.30.0
torch>=2.0.0  # Phiên bản mới nhất của PyTorch
beautifulsoup4
requests